    <!-- Footer -->
    <!-- <footer>
        Love Angular?&nbsp;
        <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
          <div class="github-star-badge">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
            Star
          </div>
        </a>
        <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
    </footer> -->
  
   <!-- Footer -->
  
  
   <footer class="bg-blue text-center text-lg-start mt-8">
    <!-- Grid container -->
    <div class="container footer-container p-4">
      <!--Grid row-->
      <div class="row pt-3">
        <!--Grid column-->
        <div class="col-lg-5 col-md-5 mb-4 mb-md-0 footer-logo">
          <img
          width="350"
          alt="Angular Logo"
          src="./assets/images/footer-logo.png"
        />
  
        <div class="row footer-menu">
         <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
          <h3>Company</h3>
          <ul>
            <li><a href="#">Team
               </a></li>
              <li><a href="#">Latest News</a></li>
                <li><a href="#">Testimonials</a></li>
          </ul>
         </div>   
  
         <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
          <h3>Legal</h3>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Disclaimers</a></li>
          </ul>
         </div>  
         </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-7 col-md-7 mb-4 mb-md-0">
          
        <div class="row footer-contact">
          <div class="col-sm-6 col-md-6 col-lg-6 d-flex align-items-center">
            <img src="./assets/images/phone.png"/>
            <span>1-800-555-1212
            info@flippingusa.com</span>
          </div>   
   
          <div class="col-sm-6 col-md-6 col-lg-6 d-flex align-items-center">
            <img src="./assets/images/map.png"/>
  
            <span> 157 Main St, New York, NY
  10002, United States </span>
          </div>  
          </div>
  
          <div class="footer-social">
            <div class="social-title">
            <span><b>Follow Along On Our Journey</b></span>
          </div>
          <div class="social-icons">
            <a href="#"><img src="./assets/images/fb.png"/></a>
            <a href="#"><img src="./assets/images/twitter.png"/></a>
            <a href="#"><img src="./assets/images/insta.png"/></a>
            <a href="#"><img src="./assets/images/in.png"/></a>
          </div>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>