
<!-- Header -->
<div class="toolbar" role="banner">
    <img
      width="250"
      alt="Angular Logo"
      src="./assets/images/logo.png"
    />
      <div class="spacer"></div>
      <div class="menu">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">WHY US?</a>
                </li>
                <li class="nav-item">
                  <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">BUY</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/sell" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" href="#">SELL</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/faq" class="nav-link" href="#">FAQ'S</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">TESTIMONIALS</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <router-outlet></router-outlet>
  
  
      </div>
      
      <a class="header-btn" aria-label="List Your Property" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
        List Your Property
      </a>
   
  </div>
  <!-- Header -->
  
  <!-- Content -->
  
  <div class="content" role="main">
  
  <div class="main-section pb-5">
    <div class="main-section-inner">
    <h1>Find and <b>buy</b></h1>
    <h2> <b>Off-MarketProperties</b> in the</h2>
    <h2><b>Flipping</b><span>USA</span> Marketplace.</h2>
  
    <div class="row d-flex align-items-center mt-3">
  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 main-section-btns">
    <a href="#" class="fill-btn primary">Explore Marketplace</a>
    <a href="#" class="list-btn">List Your Property</a>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12  col-sm-12 main-section-desc">Marketplace is an e-commerce platform that connects sellers and buyers through meaningful interactions and unique goods.</div>
  
    </div>
  
    <div class="img-sec mt-4">
      <img
      width="100%"
      alt="Angular Logo"
      src="./assets/images/video-img.png"
    />
    </div>
  
    <div class="row why-people m-3">
      <div class="col">
  <h2>Why people love <b>Flipping<span>USA</span></b> Marketplace</h2>
      </div>
    </div>
  
    <div class="row why-us mt-5">
      <div class="col-lg-4 col-md-4 col-xs-12">
  <img src="./assets/images/why1.png"/>
  <h3>Free to Us</h3>
  <p>Anyone with an active <b>FlippingUSA</b> account
    can list or buy items with no hidden fees</p>
      </div>
  
      <div class="col-lg-4 col-md-4 col-xs-12">
        <img src="./assets/images/why2.png"/>
        <h3>Buyers and Sellers</h3>
        <p>Browse and buy, or list and sell items to other Marketplace users across the country</p>
            </div>
  
            <div class="col-lg-4 col-md-4 col-xs-12">
              <img src="./assets/images/why3.png"/>
              <h3>Selling Strategies</h3>
              <p>Whether you’re selling or buying, you can
                chat with others through Marketplace</p>
                  </div>
    </div>
  </div>
  </div>
  
  
  
  <div class="container-fluid pt-5 pb-5 buy-section" style="background-color: #041b49;">
  <div class="inner-width">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <h2>Buying & Selling</h2>
        <h2><b>on FlippingUSA</b></h2>
        <h2>Marketplace</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 buy-section-desc">
        <p>Discover unique items, from home decor to trendy fashion. You never know what you’ll find and fall in love with thousands of items from your local neighborhood or across the country.</p>
  
        <div class="section-btns mt-4">
          <a href="#" class="fill-btn primary invert">Explore Marketplace</a>
          <a href="#" class="list-btn invert">List Your Property</a>
        </div>
      
      </div>
      
        </div>
  </div>
  
  <div class="container container-xxl house-sec">
    <div class="row">
      <div class="col-lg-4 col-md-4  small col-xs-12">
        <img  width="100%" src="./assets/images/house1.png">
      </div>
  
      <div class="col-lg-4 col-md-4 col-xs-12">
        <img  width="100%" src="./assets/images/house2.png">
      </div>
  
      <div class="col-lg-4 col-md-4 small col-xs-12">
        <img  width="100%" src="./assets/images/house3.png">
      </div>
    </div>
  </div>
  </div>
  
  <div class="container-fluid diff-color pt-5">
  <div class="container container-xxl selling-sec">
    <div class="row mt-5 selling-row">
      <div class="col">
        <h1>Buying & Selling on<br>
          <b>Flipping<span>USA</span></b> Marketplace</h1>
          <p>Easily sell new or pre-loved items locally or have them shipped nationwide.</p>
          <div class="col main-section-btns mt-3">
            <a href="#" class="fill-btn primary">Explore Marketplace</a>
            <a href="#" class="list-btn">List Your Property</a>
          </div>
      </div>
    </div>
  
    <div class="row sell-houses mt-5">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <img  width="100%" src="./assets/images/sell1.png">
        <p>Selling as an owner</p>
      </div>
  
      <div class="col-lg-4 col-md-4 col-xs-12">
        <img  width="100%" src="./assets/images/sell2.png">
        <p>Selling as an agent</p>
      </div>
  
      <div class="col-lg-4 col-md-4 col-xs-12">
        <img  width="100%" src="./assets/images/sell3.png">
        <p>Selling as a wholesaler</p>
      </div>
    </div>
  </div>
  
  
  
  <div class="container selling-sec testimonials-slider">
    <div class="row">
      <div class="col">
        <h1 style="font-weight: 800;">Sucess Stories</h1>
        <p>Just some nice things our customers have said about us. </p>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
  
            <div class="test-images">
              <span><img src="./assets/images/client2.png"/></span>
              <span><img src="./assets/images/client3.png"/></span>
              <span class="active"><img src="./assets/images/client1.png"/></span>
              <span><img src="./assets/images/client4.png"/></span>
              <span><img src="./assets/images/client5.png"/></span>
            </div>
  
            <div class="testi-wrap">
            <div class="carousel-item active">
              <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
              <div class="name-rating">
                <span class="stars">★★★★★</span>
                <span class="client-name">Client name</span>
              </div>
            </div>
            <div class="carousel-item">
              <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
              <div class="name-rating">
                <span class="stars">★★★★★</span>
                <span class="client-name">Client name</span>
              </div>
            </div>
            <div class="carousel-item">
              <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
              <div class="name-rating">
                <span class="stars">★★★★★</span>
                <span class="client-name">Client name</span>
              </div>
            </div>
  
  
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  
  
  <div class="container-fluid w-diff-sec pb-5">
  <div class="container selling-sec  ">
    <div class="row mt-5 find-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Find and <b>buy Off-Market </b><br> <b>Properties</b> with <br><b>Flipping<span>USA</span></b> Marketplace.<br>
          </h1>
          <p>Marketplace is an e-commerce platform that connects sellers and buyers through meaningful interactions and unique goods.</p>
          <div class="col main-section-btns mt-3">
            <a href="#" class="fill-btn primary">Explore Marketplace</a>
            <a href="#" class="list-btn">List Your Property</a>
          </div>
      </div>
    </div>
  
    </div>
  </div>
  
  <!-- Content -->
  
  
  </div>
  
    <!-- Footer -->
    <!-- <footer>
        Love Angular?&nbsp;
        <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
          <div class="github-star-badge">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
            Star
          </div>
        </a>
        <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
    </footer> -->
  
   <!-- Footer -->
  
  
   <footer class="bg-blue text-center text-lg-start mt-8">
    <!-- Grid container -->
    <div class="container footer-container p-4">
      <!--Grid row-->
      <div class="row pt-3">
        <!--Grid column-->
        <div class="col-lg-5 col-md-5 mb-4 mb-md-0 footer-logo">
          <img
          width="350"
          alt="Angular Logo"
          src="./assets/images/footer-logo.png"
        />
  
        <div class="row footer-menu">
         <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
          <h3>Company</h3>
          <ul>
            <li><a href="#">Team
               </a></li>
              <li><a href="#">Latest News</a></li>
                <li><a href="#">Testimonials</a></li>
          </ul>
         </div>   
  
         <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
          <h3>Legal</h3>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Disclaimers</a></li>
          </ul>
         </div>  
         </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-7 col-md-7 mb-4 mb-md-0">
          
        <div class="row footer-contact">
          <div class="col-sm-6 col-md-6 col-lg-6 d-flex align-items-center">
            <img src="./assets/images/phone.png"/>
            <span>1-800-555-1212
            info@flippingusa.com</span>
          </div>   
   
          <div class="col-sm-6 col-md-6 col-lg-6 d-flex align-items-center">
            <img src="./assets/images/map.png"/>
  
            <span> 157 Main St, New York, NY
  10002, United States </span>
          </div>  
          </div>
  
          <div class="footer-social">
            <div class="social-title">
            <span><b>Follow Along On Our Journey</b></span>
          </div>
          <div class="social-icons">
            <a href="#"><img src="./assets/images/fb.png"/></a>
            <a href="#"><img src="./assets/images/twitter.png"/></a>
            <a href="#"><img src="./assets/images/insta.png"/></a>
            <a href="#"><img src="./assets/images/in.png"/></a>
          </div>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>