<!-- Header -->
<app-header class="light-header"></app-header>

  <!-- Header -->


  <!--- Banner Sec -->
  <div class="container-banner">
    <div class="banner-sec row-banner" style="background-image: url(./assets/images/banner.png);">
        <div class="col-banner inner-banner">
            <h1>Frequently Asked Questions</h1>
            <p>Get Answers to All Your Questions With Our Comprehensive F.A.Q’s Guide</p>
        </div>
    </div>
  </div>
  <!--- Banner Sec -->


  <!--- Accordian sec FAQs -->
  <div class="faq-container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            How do I search for properties on your platform?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do I create an account on your platform?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How do I create an account on your platform?        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading4" aria-expanded="false" aria-controls="heading4">
            How can I get in touch with a real estate agent?          </button>
        </h2>
        <div id="heading4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="heading5">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading5" aria-expanded="false" aria-controls="heading5">
            How can I list my property on your platform?          </button>
        </h2>
        <div id="heading5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="heading6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading6" aria-expanded="false" aria-controls="heading6">
            How does the payment process work for buying a property?
        </button>
        </h2>
        <div id="heading6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="heading7">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading7" aria-expanded="false" aria-controls="heading7">
            What kind of properties can I find on your platform?          </button>
        </h2>
        <div id="heading7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="heading8">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading8" aria-expanded="false" aria-controls="heading8">
            How do I schedule a property viewing?          </button>
        </h2>
        <div id="heading8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="heading9">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading9" aria-expanded="false" aria-controls="heading9">
            Can I save properties to my account for later viewing?          </button>
        </h2>
        <div id="heading9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading10">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading10" aria-expanded="false" aria-controls="heading10">
            How do I know if a property is still available?          </button>
        </h2>
        <div id="heading10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading11">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading11" aria-expanded="false" aria-controls="heading11">
            How can I leave a review for a property or an agent?          </button>
        </h2>
        <div id="heading11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading12">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading12" aria-expanded="false" aria-controls="heading12">
            How do I know if a property is still available?          </button>
        </h2>
        <div id="heading12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Lingua Latina est lingua antiquissima et nobilissima, quae usque ad hodiernum diem studiis humanioribus utitur. Lingua Latina inter multas linguas Europeas valde differt, etiam ab aliis linguis Romanicis, quae ex Latina ortae sunt. In mundo Romano, Lingua Latina fuit lingua universitatis, artis, philosophiae et scientiae, et multos saeculos postea fuit lingua ecclesiae Catholicae. Hodie, multae universitates in toto mundo lingua Latina utuntur et multi hanc linguam studiose discunt.
          </div>
        </div>
      </div>


  </div>
</div>
  <!--- Accordian sec FAQs -->



  <div class="container selling-sec testimonials-slider">
    <div class="row">
      <div class="col">
        <h1 style="font-weight: 800;">Sucess Stories</h1>
        <p>Just some nice things our customers have said about us. </p>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
  
            <div class="test-images">
              <span><img src="./assets/images/client2.png"/></span>
              <span><img src="./assets/images/client3.png"/></span>
              <span class="active"><img src="./assets/images/client1.png"/></span>
              <span><img src="./assets/images/client4.png"/></span>
              <span><img src="./assets/images/client5.png"/></span>
            </div>
  
            <div class="testi-wrap">
            <div class="carousel-item active">
              <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
              <div class="name-rating">
                <span class="stars">★★★★★</span>
                <span class="client-name">Client name</span>
              </div>
            </div>
            <div class="carousel-item">
              <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
              <div class="name-rating">
                <span class="stars">★★★★★</span>
                <span class="client-name">Client name</span>
              </div>
            </div>
            <div class="carousel-item">
              <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
              <div class="name-rating">
                <span class="stars">★★★★★</span>
                <span class="client-name">Client name</span>
              </div>
            </div>
  
  
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  
  <div class="container-fluid w-diff-sec pb-5">
  <div class="container selling-sec  ">
    <div class="row mt-5 find-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Find and <b>buy Off-Market </b><br> <b>Properties</b> with <br><b>Flipping<span>USA</span></b> Marketplace.<br>
          </h1>
          <p>Marketplace is an e-commerce platform that connects sellers and buyers through meaningful interactions and unique goods.</p>
          <div class="col main-section-btns mt-3">
            <a href="#" class="fill-btn primary">Explore Marketplace</a>
            <a href="#" class="list-btn">List Your Property</a>
          </div>
      </div>
    </div>
  
    </div>
  </div>

<div class="space170"></div>

    <!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->