<!-- Header -->
<app-header class="light-header"></app-header>
<!-- Header -->


<!--- Banner Sec -->
<div class="container-banner">
  <div class="banner-sec row-banner" style="background-image: url(./assets/images/banner.png);">
      <div class="col-banner inner-banner">
          <h1>Sell With <b>Flipping<span>USA</span></b></h1>
          <p>Introducing the FlippingUSA marketplace - The Revolutionary Auction Platform That is Here to Transform the Way Homeowners, Wholesalers, and Agents Sell Properties! </p>
      </div>
  </div>
</div>
<!--- Banner Sec -->


<!--- Sell sec FAQs -->
<div class="sell-container">
  <div class="sell-inner">
    <p style="text-align: center;">Are you a homeowner, real estate wholesaler, or agent looking to sell your property quickly and efficiently? <strong> FlippingUSA</strong> Marketplace is the perfect solution for you! Our online auction platform connects sellers with potential buyers, providing a seamless, fast, and hassle-free experience. Here’s why <b>FlippingUSA</b> Marketplace is the ideal choice for selling your property:</p>
  </div>
</div>

<div class="row sell-houses sell-container">
    <div class="col-lg-4 col-md-4 col-xs-12 house-point">
      <img  width="100%" src="./assets/images/sell1.png">
      <p>Selling as an owner</p>
      <ul>
        <li>Welcome to FlippingUSA Marketplace!</li>
        <li>Our platform is designed to attract</li>
        <li>This means that as a seller</li>
        <li>In addition to catering to buyer types</li>
        <li>Whether you’re looking to buy or sell
        </li>

        </ul>
        <a href="#" class="list-btn listing-button-sell">List Your Property</a>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12 house-point">
      <img  width="100%" src="./assets/images/sell2.png">
      <p>Selling as an agent</p>
      <ul>
        <li>Welcome to FlippingUSA Marketplace!</li>
        <li>Our platform is designed to attract</li>
        <li>This means that as a seller</li>
        <li>In addition to catering to buyer types</li>
        <li>Whether you’re looking to buy or sell
        </li>

        </ul>
        <a href="#" class="list-btn listing-button-sell">List Your Property</a>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12 house-point">
      <img  width="100%" src="./assets/images/sell3.png">
      <p>Selling as a wholesaler</p>
      <ul>
        <li>Welcome to FlippingUSA Marketplace!</li>
        <li>Our platform is designed to attract</li>
        <li>This means that as a seller</li>
        <li>In addition to catering to buyer types</li>
        <li>Whether you’re looking to buy or sell
        </li>

        </ul>
        <a href="#" class="list-btn listing-button-sell">List Your Property</a>
    </div>
  </div>



<!--- Sell sec FAQs -->



<div class="container selling-sec testimonials-slider">
  <div class="row">
    <div class="col">
      <h1 style="font-weight: 800;">Sucess Stories</h1>
      <p>Just some nice things our customers have said about us. </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

          <div class="test-images">
            <span><img src="./assets/images/client2.png"/></span>
            <span><img src="./assets/images/client3.png"/></span>
            <span class="active"><img src="./assets/images/client1.png"/></span>
            <span><img src="./assets/images/client4.png"/></span>
            <span><img src="./assets/images/client5.png"/></span>
          </div>

          <div class="testi-wrap">
          <div class="carousel-item active">
            <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
            <div class="name-rating">
              <span class="stars">★★★★★</span>
              <span class="client-name">Client name</span>
            </div>
          </div>
          <div class="carousel-item">
            <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
            <div class="name-rating">
              <span class="stars">★★★★★</span>
              <span class="client-name">Client name</span>
            </div>
          </div>
          <div class="carousel-item">
            <p>“Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte.  Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat. Omnis nulla virtute his ea. Ex mea nisl incorrupte. Laudem lucilius ei eos, vulputate adversarium intellegebat te sit, ea sint graecis admodum eam. At nam nostrud deseruisse, id mel lorem accusam appareat.”</p>
            <div class="name-rating">
              <span class="stars">★★★★★</span>
              <span class="client-name">Client name</span>
            </div>
          </div>


        </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid w-diff-sec pb-5">
<div class="container selling-sec  ">
  <div class="row mt-5 find-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>Find and <b>buy Off-Market </b><br> <b>Properties</b> with <br><b>Flipping<span>USA</span></b> Marketplace.<br>
        </h1>
        <p>Marketplace is an e-commerce platform that connects sellers and buyers through meaningful interactions and unique goods.</p>
        <div class="col main-section-btns mt-3">
          <a href="#" class="fill-btn primary">Explore Marketplace</a>
          <a href="#" class="list-btn">List Your Property</a>
        </div>
    </div>
  </div>

  </div>
</div>

<div class="space170"></div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Footer -->